/* header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: cadetblue;
} */

#cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
}

.card {
    height: 200px;
    width: 250px;
    color: white;
    background-color: slategray;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10%;
    cursor: pointer;
    transition: all 0.8s;
}

.card:hover {
    transform: scale(1.1);
}

.card p {
    text-align: end;
}

/* #form-heading a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.input {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

input, textarea {
    height: 50px;
    width: 350px;
    border: 2px solid gray;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: inset 2px 2px 4px gray, inset -2px -2px 6px darkgray;
}

.btn {
    justify-content: flex-end;
}

.btn input {
    width: 100px;
} */

.popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
